* {
  margin: 0;
  padding: 0;
  border: none
}

body {
  background-color: hsl(30, 38%, 92%);
}

.attribution { font-size: 11px; text-align: center; }

.attribution a { color: hsl(228, 45%, 44%); }

.container-father {
  width: 800px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: row;
  border-radius: 17px;
}

.img {
  width: 424px;
  display: flex;
  border-radius: 20px 0 0 20px;
}

.img-div {
  flex: 1;
  border-radius: 20px;
}

.texts-div {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.right-side {
  margin: 35px;
}

.tittle {
  flex: 1;
  margin-bottom: 0px;
  margin-top: 40px;
  letter-spacing: 2px;
}

.tittle-text {
  color: hsl(228, 12%, 48%);
  font-family: 'Montserrat', sans-serif;
}

.product-name-div {
  flex: 3;
  margin-top: 0;
  margin-bottom: 20px;
}

.product-name-text {
  font-family: 'Fraunces', serif;
  font-size: 40px;
  color: hsl(212, 21%, 14%);
  inline-size: 300px;
}

.description-div {
  flex: 3;
  margin-top: 0;
  margin-bottom: 0;
}

.description-text {
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  color: hsl(228, 12%, 48%);
  line-height: 34px;
}

.price-div {
  flex: 1;
  display: flex;
  margin-top: 0;
}

.price {
  font-family: 'Fraunces', serif;
  flex: auto;
  color: hsl(158, 36%, 37%);
  font-size: 40px;
  display: inline-block;
  margin-right: 20px;
}

.price-before {
  font-family: 'Montserrat', sans-serif;
  color: hsl(228, 12%, 48%);
  text-decoration:line-through;
  display: inline-block;
  padding-right: 75px;
  padding-top: 15px;
}

.buy-button-div {
  flex: 2;
  width: 330px;
  height: 20px;
  margin-top: 0;
  margin-bottom: 0;
}


.buy-button {
  background-color: hsl(158, 36%, 37%);
  color: white;
  font-size: 20px;
  width: 310px;
  height: 60px;
  margin-right: 10px;
  border-radius: 10px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  padding-bottom: 10px;
  transition: 0.15s;
}

.cart-icon {
  width: 20px;
  margin-right: 15px;
  padding-top: 15px;
}

.buy-button:hover {
  background-color: hsl(158, 36%, 31%);
  cursor: pointer;
}

